html,
body{

    height:100%;
}

body{

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #6c6f73;

}

h1, h2, h3, h4, h5 {

   color: #333;

}

h6 {

    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;

}

img {

    max-width: 100%;

}

.blockquote {

    font-size: 1.6rem;
    color: #333;
    border: none;
    padding: 0;
}

.blockquote-footer {

    margin: 1rem 0 0;

}
