.container-fluid {

    background: #FFFFFF;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.20);
    font-family: Cuprum-Bold;
    font-size: 30px;
    color: #432424;
    margin-left: auto;
    margin-bottom: 13px;
    margin-right: auto;

}

.footer {

    background: #c4c0c0;
    box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.20);
    font-family: Cuprum-Bold;
    color: #432424;

    margin-top: 13px;
    margin-bottom: auto;
    position: relative;
  right: 0;
  bottom: 0;
  left: 0;

}

.footer-itemss  {

    font-family: Cuprum-Bold;
    color: #432424;

    margin-left: 350px;


}


.navbar-collapse {

    font-family: Cuprum-Regular;
    font-size: 16px;
    color: #432424;
    margin-right: auto;
    margin-left:0px;
    padding-top: 1px;
    position: relative;

}

.navbar-brand ul {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

p {
    color: black;
}

.navbar-brand img {
    max-width: 40px;
    max-height: 40px;
    margin-left: -1em;

}

.navbar-header img {
    margin-left: 140px;
    position: relative;
    max-height: 20px;
    max-width: 20px;

}

.copyright {
    text-align: center;
}

.logo-offset a{
    font-size: 30px;
    margin-top: 10px;
}

.logo-offset {
    padding-bottom: 20px;
}

.body{
padding-bottom: 10px;
}
.c{
    margin-top: -10px;
}

.content{
    margin-right: 13px;
     margin-left: 13px;
}

