.main-image img{
    width: 100%;
    height: 100%
}

.caption h3{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-decoration: underline;
    text-decoration-color: red;
    font-family: "DIN Condensed";
    font-size: 50px;
}

.altcaption{
    font-family: Cuprum-Regular;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 700%;
    width: 100%;
    text-align: center;
}

.manage a{
    font-family:DIN Condensed;
    font-size: 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    display:block;
    width:350px;
    height:50px;
    background-color:red;
    border:1px solid #ff0000;
    text-align: center;
    vertical-align: center;
    horiz-align: center;
    top: 90%;
    left: 50%;
    line-height: 175%;
    text-decoration:none;

}