/* Stuff added to test image-button */

.container {
    position: relative;
    width: 50%;
}

/* Make the image responsive */
.container img {
    width: 100%;
    height: auto;
    top: 0;
    bottom: 50%;
    left: 0;
    right: 0;
    margin: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container .btn:hover {
    background-color: black;
}

.main-image img {
    /* height: 60%;
     vertical-align: center;
     margin: auto;
     width: 80%;
     padding: 10px;*/

    /*margin: auto;
    vertical-align: center;
    width: auto;
  max-width: 100%;
    height: 70%;*/

    width: 100%;
    height: 100%;
    display: block;
    align-content: center;

}

.main-image {
    width: 100%;
    height: 100%;

}

.item1 img {
    width: 100%;
    height: 100%;
}

.caption h3 {
    position: absolute;
    font-family: Cuprum-Regular;

    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 400%;
    text-align: center;

}

.caption2 p {
    top: 35%;
    font-family: Cuprum-Regular;
    position: absolute;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 30px;
}

