{% extends 'connect_therapy/base.html' %}
{% block title %}Patient Notes{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h3 class="">Practitioner Notes</h3>
        <hr class="my-4">
        <p class="lead" style="word-wrap: break-word">{{ appointment.patient_notes_by_practitioner }}</p>
    </div>

    <div class="jumbotron">
        <h3>Your Notes</h3>
        <hr class="my-4">
        <p class="lead">{{ appointment.patient_notes_before_meeting }}</p>
    </div>
    <a href="{% url 'connect_therapy:patient-my-appointments' %}" class="btn btn-primary"> Go Back</a>
{% endblock %}
