{% extends "connect_therapy/base.html" %}
{% block title %}Book Appointment{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Select date"/>
    </form>

    {% if appointments|length == 0 %}
        <h1>Sorry, please try another date</h1>
        <p>There are no appointments available for your chosen date</p>
    {% else %}
        {% for app in appointments %}
            <p>{{ app }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}