{% extends 'connect_therapy/base.html' %}
{% block title %}Cancel Appointment{% endblock %}
{% block header %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
{% endblock %}
{% block content %}

    <div class="panel panel-danger">
        <div class="panel-heading"><h2 class="panel-title">Are you sure you want to cancel your appointment?</h2></div>
        <div class="panel-body">
            <h4>If you are cancelling your appointment within 24 hours of the appointment, you will still be charged.
                Otherwise, you will be refunded.</h4>
            <p>Please confirm your decision below</p>
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-danger" type="submit" value="Confirm"/>
                <a href="{% url 'connect_therapy:patient-my-appointments' %}" class="btn btn-default"> Go Back</a>
            </form>
        </div>
    </div>

{% endblock %}
