{% extends 'connect_therapy/base.html' %}
{% comment %}{% block title %}Chat{% endblock %}{% endcomment %}

{% block header %}
    <script src="https://simplewebrtc.com/latest-v2.js"></script>
    {% load static %}
    <script src="{% static 'connect_therapy/webrtc.js' %}"></script>
    <link rel="stylesheet" href="{% static 'connect_therapy/webrtc.css' %}" type="text/css">
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>Web chat page. Session id: {{ session_id }}</h1>
    </div>

    <div class="container-fluid" id="main">
        <div class="grid">
            <div class="row">
                <div class="col-md-4">
                    <video height="300" id="localVideo"></video>
                </div>
                <div class="col-md-8">
                    <div id="remotesVideos"></div>
                </div>
            </div>


            <div class="messages">
                <div class="row">
                    <div class="col-md-12">
                        <div id="message-table-div">
                            <table id="message-table" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Messages</th>
                                    <th></th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="grid">
                            <div class="row">
                                <div class="col-md-11">
                                    <textarea class="form-control" rows="1" id="message-field"></textarea>
                                </div>
                                <div class="col-md-1">
                                    <button onclick="sendMessage()" type="button" class="btn btn-light" id="send">Send
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
