{% extends 'connect_therapy/base.html' %}
{% block title %}Chat{% endblock %}

{% block header %}
    <script src="https://simplewebrtc.com/latest-v2.js"></script>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="{% static 'connect_therapy/webrtc.js' %}"></script>
    <link rel="stylesheet" href="{% static 'connect_therapy/webrtc.css' %}" type="text/css">
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>Web chat page. </h1>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div id="remove-vid-wrapper">
                    <div id="remotesVideos"></div>
                </div>
            </div>
            <div class="col-md">
                <div class="container">
                    <div class="row" id="local-video">
                        <video height="300" id="localVideo"></video>
                    </div>
                    <div class="message">
                        <div class="row">
                            <div id="message-table-div">
                                <table id="message-table" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Messages</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                                <textarea class="form-control" rows="1" id="message-field"></textarea>
                            </div>
                            <div class="col-md-1">
                                <button onclick="sendMessage()" class="btn btn-light" type="button" id="send">Send
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">

            </div>
        </div>
    </div>

    <div class="container-fluid" id="main">
        <div class="grid">

            <div class="messages">
                <div class="row">
                    <div class="col-md-12">
                        {% comment %}<div id="message-table-div">
                            <table id="message-table" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Messages</th>
                                    <th></th>
                                </tr>
                                </thead>
                            </table>
                        </div>{% endcomment %}
                        <div class="grid">
                            {#                            <div class="row">#}
                            {#                                <div class="col-md-11">#}
                            {#                                    <textarea class="form-control" rows="1" id="message-field"></textarea>#}
                            {#                                </div>#}
                            {#                                <div class="col-md-1">#}
                            {#                                    <button onclick="sendMessage()" type="button" class="btn btn-light" id="send">Send#}
                            {#                                    </button>#}
                            {#                                </div>#}
                            {#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
