{% extends 'connect_therapy/base.html' %}
{% load static %}
{% block title %}Patient Home{% endblock %}
{% block content %}
    <body>
        <div class="main-image">
            <div class="item1">
                <div class="container" style="min-width: 100%; min-height: 100%">
                    <img src="{% static '/connect_therapy/images/notepad.png' %}" alt="Snow">
                    <button class="btn">Book Appointments</button>
                </div>
                <div class="caption"><h3>C O N N E C T &nbsp; &nbsp;T H E R A P Y</h3></div>
            </div>
        </div>
    </body>
{% endblock %}

{% block styles %}
    <link href="{% static '/connect_therapy/css/patient-homepage.css' %}" rel="stylesheet">
{% endblock %}
