{% extends 'connect_therapy/base.html' %}
{% load static %}
{% block title %}Patient Home{% endblock %}
{% block content %}
<link href="{% static '/connect_therapy/css/patient-homepage.css' %}" rel="stylesheet">
<div class="g">
    <img class="img" src="{% static '/connect_therapy/images/Website-Design-Background.png' %}" alt="First slide">
    <div class="caption"><h3>C O N N E C T &nbsp; &nbsp;T H E R A P Y</h3></div>
    <div class="caption2">Welcome, book an appointment</div>
    <div class="find-more"><a href="#" style="color: #fff">FIND OUT MORE</a></div>
</div>
{% endblock %}