{% extends 'connect_therapy/base.html' %}
{% block title %}Patient appointments{% endblock %}

{% block content %}

    <h1 class="text-center">Your Appointments</h1></br>
    <h2>Current Bookings</h2>
    <div class="container-fluid">
        <div class="row">

            {% for appointment in future_appointments %}
                <div class="col col-sm-12 col-lg-4 col-md-4">
                    <div class="card card-deck mt-3 mr-1" style="padding: 10px 10px;">
                        <div class="card-block">
                            <h4 class="card-title" style="white-space: nowrap">{{ appointment.start_date_and_time }}</h4>
                            <p class="card-text"><b>Duration:</b> {{ appointment.length }}</p>
                            <p class="card-text"><b>Practitioner:</b> {{ appointment.practitioner }}</p>
                            <a href="{% url 'connect_therapy:patient-notes-before' appointment.id %}" class="btn btn-info">View Notes</a>
                            <a href="{% url 'connect_therapy:patient-cancel-appointment' appointment.id %}" class="btn btn-info"> Cancel Appointment</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <br> <br> <br>

    <h2>Previous Bookings</h2>
    <div class="container-fluid">
        <div class="row">
            {% for appointment in past_appointments %}
                <div class="col col-xs-12 col-lg-4 col-md-4">
                    <div class="card card-deck mt-3 mr-1" style="padding: 10px 10px;">
                        <div class="card-block">
                            <h4 class="card-title" style="white-space: nowrap;">{{ appointment.start_date_and_time }}</h4>
                            <p class="card-text"><b>Duration:</b> {{ appointment.length }}</p>
                            <p class="card-text"><b>Practitioner:</b> {{ appointment.practitioner }}</p>
                            <a href="{% url 'connect_therapy:patient-appointment-notes' appointment.id %}" class="btn btn-info"> View Notes</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block styles %}
    <style>
        @media (max-width: 600px) {
            h1 {
                font-size: 30px;
            }

            h2 {
                font-size: 25px;
            }

            .lead {
                font-size: 20px;
            }

            .card-title {
                font-size: 20px;
            }
        }
    </style>
{% endblock %}



