{% extends 'connect_therapy/base.html' %}
{% load staticfiles %}
{% block title %}Patient signup{% endblock %}

{% block content %}
    <div class="container-fluid">
<form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form.as_p }}
    </div>
    <input type="submit" class="btn btn-success" value="Sign up" />
</form>
    </div>
{% endblock %}

{% block styles %}

    <style>

    {#.container {#}
    {#    display: none !important;#}
    {#}#}

    .container-fluid {
        margin-top: 1%;
    }
    @media (max-width: 600px) {
        div.ui-datepicker{
            font-size:10px;
}
    }
    </style>

        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

{% endblock %}

{% block scripts %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script>
        $("#id_date_of_birth").datepicker();
        document.getElementById("id_password1").className="form-control";
        document.getElementById("id_password2").className="form-control";
        document.getElementById("id_date_of_birth").className="form-control";

    </script>
{% endblock %}

