{% extends 'connect_therapy/base.html' %}
{% load static %}
{% block content %}

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link href="{% static '/connect_therapy/css/about.css' %}" rel="stylesheet">
    </head>

    <body>

    <div class="main-image">
        <div class="item1">
            <img class="d-block" src="{% static '/connect_therapy/images/neural.png' %}" alt="First slide">
            <div class="caption"><h3>About Connect Therapy</h3></div>
            <div class="caption2">
                <p>It is a long established fact that a reader will be distracted by the readable content
                    of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                    normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                    readable
                    English.
                </p>
            </div>
        </div>
    </div>

    <div class="post1">
        <div class="image1"><img class="d-block w-50 h-50" src="{% static '/connect_therapy/images/ioppn.png' %}">
            <div class="text1">
                <h3 class="title">Knowledge at the heart of London</h3>
                <p style="width: 600px;">
                    Niduci tisa suyofos natenix po, nute ieros dorurij ofodu na nomer begora imil dit be. Cili wihidi
                    ludelu
                    nonihie bugil.
                    Ugurot ivah co erevun tieleret lar. Royaru usacinen lodie lo reteri. Fape lite lono une seto. Ilefi
                    gut
                    sonoyis oyora l
                    imebe rur. Sielore ener honuz yikete pe sehi. Ci sase nicot rat nuted temiv sepuhi telalos sosofa!
                    Kosit
                    orietino ehire?
                    Mewin litat la beru tecorig nasahus elanada onot. Tiviva mofasad esie tucamen eca; paga isi atiero
                    lo.
                    Sakeg begage
                </p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    ﻿
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    </body>
{% endblock %}
