{% extends 'connect_therapy/base.html' %}
{% block title %}Cancel Appointment{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4">Are you sure you want to cancel your appointment?</h1>
        <p class="lead">IF YOU ARE CANCELLING YOUR APPOINTMENT WITHIN 24HRS YOU WILL STILL BE CHARGED OTHERWISE YOU WILL BE REFUNDED</p>
       <br><br><br><br><br><br><br><br>
        <hr class="my-4">
        <p class="lead"><b>Click <em>confirm</em> to cancel your appointment</b></p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-danger" value="Confirm" />
            <a href="{% url 'connect_therapy:patient-my-appointments' %}" class="btn btn-primary"> Go Back</a>
        </form>
    </div>

{% endblock %}


