<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>


    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static '/connect_therapy/css/global.css' %}" rel="stylesheet">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
<header>
    {% if user.is_authenticated and user.patient %}
        <!-- Logged in Patient navbar -->
        <nav class="collapse navbar-collapse">
            <div class="container-fluid">

                <div class="logo-offset">
                        <a class="navbar-brand" href="#" style="color: #432424"> &nbsp;Connect Therapy
                            <ul class="nav nav-pills navbar-left">
                            <img src= "{% static '/connect_therapy/images/logo.png' %}">
                        </ul>
                        </a>
                    </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav nav-pills navbar-right">
                        <li>
                            <a href="#" style="color: #432424">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp; About
                            </a>
                        </li>

                        <li class="">
                            <a href="#" style="color: #432424">
                                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; Book
                                Appointment
                            </a>
                        </li>

                        <li class="">
                            <a href="#" style="color: #432424">
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Live Chat
                            </a>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: #000000">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Profile
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" style="color: #432424">Manage Appointments</a></li>
                                <li><a href="#" style="color: #432424">Change Details</a></li>
                                <li><a href="#" style="color: #432424"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;
                                    Logout</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>

            </div>
        </nav>

    {% else %}
        {% if user.is_authenticated and user.practitioner %}
            <!-- Logged in Practitioner navbar -->
            <nav class="collapse navbar-collapse">
                <div class="container-fluid">
                    <div class="logo-offset">
                        <a class="navbar-brand" href="#" style="color: #432424"> &nbsp;Connect Therapy
                            <ul class="nav nav-pills navbar-left">
                            <img src= "{% static '/connect_therapy/images/logo.png' %}">
                        </ul>
                        </a>
                    </div>

                    <div class="navbar-collapse collapse">
                        <ul class="nav nav-pills navbar-right">
                            <li>
                                <a href="#" style="color: #432424">
                                    Appointments
                                </a>
                            </li>

                            <li class="">
                                <a href="#" style="color: #432424">
                                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; Book
                                    Appointment
                                </a>
                            </li>

                            <li class="">
                                <a href="#" style="color: #432424">
                                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Live Chat
                                </a>
                            </li>

                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: #000000">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Profile
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" style="color: #432424">Change Details</a></li>
                                    <li><a href="#" style="color: #432424"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;
                                        Logout</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>

                </div>
            </nav>
        {% else %}
            <!-- Logged out navbar -->
            <nav class="collapse navbar-collapse">
                <div class="container-fluid">
                    <div class="logo-offset">
                        <a class="navbar-brand" href="#" style="color: #432424"> &nbsp;Connect Therapy
                            <ul class="nav nav-pills navbar-left">
                                <div class="c">
                            <img src= "{% static '/connect_therapy/images/logo.png' %}">
                                </div>
                        </ul>
                        </a>
                    </div>

                    <div class="navbar-collapse collapse">
                        <ul class="nav nav-pills navbar-right">

                            <li class="">
                                <a href="#" style="color: #432424">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp; About
                                </a>
                            </li>

                            <li class="">
                                <a href="#" style="color: #432424">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp; Sign up
                                </a>
                            </li>

                            <li class="">
                                <a href="#" style="color: #432424">
                                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Log in
                                </a>
                            </li>

                        </ul>
                    </div>

                </div>
            </nav>
        {% endif %}
    {% endif %}
</header>

<div class="container">

</div>
{% block content %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
﻿
<link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>

 <div class="footer">
<!--Footer-->
<footer class="page-footer text-center">

    <!--Footer Links-->
    <div class="container">

            <div class="footer-items">
                 <ul class="nav nav-pills navbar-center">
                     <li class="footer-itemss">
                         <a href="#" style="color: #432424">
                             <span aria-hidden="true"></span>&nbsp; Terms of Use
                        </a>
                     </li>

                      <li>
                         <a href="#" style="color: #432424">
                             <span aria-hidden="true"></span>&nbsp; About
                        </a>
                     </li>

                      <li>
                         <a href="#" style="color: #432424">
                             <span aria-hidden="true"></span>&nbsp; Privacy Policy
                        </a>
                     </li>

                     <li>
                         <a href="#" style="color: #432424"
                             <span aria-hidden="true"></span>&nbsp; Contact us
                        </a>
                     </li>
                 </ul>

            </div>
        <hr>

            <!--Grid column-->
            <div class="copyright">

                <!--Copyright-->
              <strong> © 2018 Copyright: Connect Therapy</strong>
                <!--/.Copyright-->

            </div>

    </div>

</footer>
 </div>
</body>
</html>
