{% extends 'connect_therapy/base.html' %}
{% block title %}Chat{% endblock %}

{% block header %}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% load static %}

    {# FILE DOWNLOAD SCRIPTS START -------------------------------------------------------------------------------- #}
    {# NEED THE FULL JQUERY LIBRARY #}
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    {# JQUERY FILE UPLOAD SCRIPTS #}
    <script src="{% static 'connect_therapy/file_picker/jquery-file-upload/js/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'connect_therapy/file_picker/jquery-file-upload/js/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'connect_therapy/file_picker/jquery-file-upload/js/jquery.fileupload.js' %}"></script>

    {# OUR UPLOAD SCRIPTS #}
    <script src="{% static 'connect_therapy/file_picker/basic-upload.js' %}"></script>

    {# THIS WILL HANDLE THE VISUAL DOWNLOAD COMPONENTS #}
    <script src="{% static 'connect_therapy/file_picker/set-components.js' %}"></script>
    <script src="{% static '/connect_therapy/file_picker/get-downloads.js' %}"></script>
    <link rel="stylesheet" href="{% static 'connect_therapy/file_picker/file_upload_download.css' %}" type="text/css">

    {# FILE DOWNLOAD SCRIPTS END -------------------------------------------------------------------------------- #}

    {# WEB CHAT RELATED SCRIPTS BELOW #}
    <script src="https://simplewebrtc.com/latest-v2.js"></script>
    <!-- Keep the order of js imports as is below -->
    <script src="{% static 'connect_therapy/chat_view_js/main.js' %}"></script>
    <script src="{% static 'connect_therapy/chat_view_js/webrtc.js' %}"></script>
    <script src="{% static 'connect_therapy/chat_view_js/webrtc-controls.js' %}"></script>


    <link rel="stylesheet" href="{% static 'connect_therapy/chat_view_css/webrtc.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <noscript>
        <div class="jumbotron">
            <h2>This page will not work fully without JavaScript enabled</h2>
            <h3>Please enable JavaScript via your browser settings to be able to use all the features of this page</h3>
        </div>
    </noscript>

    <script>
        // declare some variable which will be needed in other JavaScript files
        // need these as we cannot access template data in other .js files
        var session_id = "{{ object.session_id }}";
        var ajax_download_url = "{% url 'connect_therapy:file-download' object.id %}"
    </script>

    <div class="jumbotron">
        <h1>Welcome to your appointment</h1>
        <!-- Trigger the modal with a button -->
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                Upload/Download files
            </button>
        </nav>
    </div>

    <div id="loading">
        <div class="loader"></div>
        <p id="wait-to-join-room">Connecting to the chat room</p>
        <p id="wait-for-peer-to-connect">Waiting for the other person to join</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md">
                <div id="remove-vid-wrapper">
                    <div id="remotesVideos"></div>
                    <div id="controls">
                        <button type="button" class="btn btn-danger btn-circle btn-lg " id="pause" onclick="pause()">
                            <span class="emoji" id="paused">⏸</span></button>
                        <button type="button" class="btn btn-info btn-circle btn-lg " id="mute" onclick="mute()"><span
                                class="emoji" id="muted">🔊</span></button>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="container">
                    <div class="row" id="local-video">
                        <video height="280" id="localVideo"></video>
                    </div>
                    <div class="message">
                        <div class="row">
                            <div id="message-table-div">
                                <h5 id="message-heading">Messages</h5>
                                <table id="message-table" class="table table-striped">
                                    <thead>
                                    <tr>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <textarea class="form-control" rows="1" id="message-field"
                                          onkeypress="buttonPress(event)"></textarea>
                            </div>
                            <div class="col-md-1">
                                <button onclick="sendMessage()" class="btn btn-light" type="button" id="send"><span
                                        class="emoji">✉</span> Send
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <!-- Modal Start -->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">File Upload/Download</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="upload-tab" onclick="showUpload()">Upload</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" id="download-tab"
                                           onclick="showDownload()">Download</a>
                                    </li>
                                </ul>
                            </div>
                            <div id="form-container">
                                <div id="upload-form">
                                    <input id="fileupload" type="file" name="file" multiple
                                           style="display: none;"
                                           data-url="{% url 'connect_therapy:file-upload' object.id %}"
                                           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

                                    <button type="button" class="btn btn-primary js-upload-photos" id="upload-button">
                                        Upload files
                                    </button>
                                    <div class="progress">
                                        <div class="progress-bar" id="upload-progress" role="progressbar"
                                             aria-valuenow="0" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>

                                    <table class="table" id="uploaded-table">
                                        <thead>
                                        <th>Files uploaded</th>
                                        </thead>
                                        <tbody>
                                        <tr>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group" id="download-form">
                                    <button class="btn btn-primary" onclick="getDownloadsAJAX() "
                                            id="download-refresh-button">
                                        🔃 Refresh List
                                    </button>
                                    {% if downloadable_files|length > 0 %}
                                        <table class="table" id="download-table">
                                            <thead>
                                            <th>File</th>
                                            </thead>
                                            <tbody>
                                            {% for i,j in downloadable_files %}
                                                <tr>
                                                    <td><a target="_blank" href="{{ j }}">{{ i }}</a></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% else %}
                                        <h3>Nothing has been uploaded yet.</h3>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>


                    </div>

                </div>
                <!-- Modal end -->
            </div>
        </div>
    </div>


    <!--Modal Window for Safari (Only opens if the used browser is Safari)-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Browser Warning</h5>

          </div>
          <div class="modal-body">
            <p class="">We have detected you using Safari, the Chat feature is not supported in <b>Safari</b></p>
            <p class="">Please use <b>Chrome</b></p>
          </div>
          <div class="modal-footer">
              <p>Click Close to go to Home</p>
            <button type="button" class="btn btn-primary" onclick=window.location.href="{% url 'connect_therapy:index' %}" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
</div>

{% endblock %}

{% block styles %}
    <style>
        h5#modalLabel {
            vertical-align: middle;
            font-size: 30px;
        }

        div.modal-footer p {
                vertical-align: middle;
                margin-bottom: 0px;
                font-size: 14px;
        }

        @media (max-width: 600px) {
            h5#modalLabel {
                font-size: 18px;
            }

            div.modal-body {
                font-size: 14px;
                padding-bottom: 0px;
            }

            div.modal-footer {
                padding-top: 10px;
                padding-bottom: 10px;
            }

            button.btn.btn-primary {
                font-size: 14px;
                padding-left: 6px;
                padding-right: 6px;
                padding-top: 4px;
                padding-bottom: 4px;
            }

            div.modal-footer > p {
                font-size: 13px;
            }
        }
    </style>
{% endblock %}

{% block scripts %}
    <script>

    </script>

    <script>

    $("#myModal").modal({
        show: false
    });
        if ((!!window.safari) == true) {
            $("#myModal").modal('show');

        }
    </script>
{% endblock %}
