{% load static %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static '/connect_therapy/css/index.css' %}" rel="stylesheet">
</head>
<body>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item1 carousel-item active">
            <img class="d-block" src="{% static '/connect_therapy/images/slide.png' %}" alt="First slide">
            <div class="caption"><h3>C O N N E C T &nbsp; &nbsp;T H E R A P Y</h3></div>
            <div class="caption2">We are with you, anytime, anywhere</div>
            <div class="find-more"><a href="#" style="color: #fff">FIND OUT MORE</a></div>
        </div>
        <div class="item2 carousel-item">
            <img class="d-block w-100" src="{% static '/connect_therapy/images/slide.png' %}" alt="Second slide">
        </div>
        <div class="item3 carousel-item">
            <img class="d-block w-100" src="{% static '/connect_therapy/images/slide.png' %}" alt="Third slide">
        </div>
    </div>
    <div class="arrows">
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="bottom">
    <div class="image"> <img class="d-block w-50 h-50 float-right" src="{% static '/connect_therapy/images/slide.png' %}">
    <div class="text">
        <h3 class="title">We are finally here</h3>
        <p style="width: 600px;">
        Niduci tisa suyofos natenix po, nute ieros dorurij ofodu na nomer begora imil dit be. Cili wihidi ludelu nonihie bugil.
        Ugurot ivah co erevun tieleret lar. Royaru usacinen lodie lo reteri. Fape lite lono une seto. Ilefi gut sonoyis oyora l
        imebe rur. Sielore ener honuz yikete pe sehi. Ci sase nicot rat nuted temiv sepuhi telalos sosofa! Kosit orietino ehire?
        Mewin litat la beru tecorig nasahus elanada onot. Tiviva mofasad esie tucamen eca; paga isi atiero lo. Sakeg begage
        pebalir rinibib. Nidise modeses lebes petiso net qufen. Tofilo dedero agepoy him panacu; avo fari ehomala cadudo ovo kasali hon
        raro lenir arotanoc. Pesopir la aritel teselo ubijas. Tenehi getuca levav. Le lo siel ome orenem.
    </p>
    </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script>
$('#myCarousel').carousel({
    interval: false
});
</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
﻿
<link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
</body>