{% extends 'connect_therapy/base.html' %}
{% block content %}
{% block header %}
    <header>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </header>
{% endblock %}
<div class='row'>
    <div class="col-12 text-center py-5">
            <h1 class='my-5 py-5'>Reset Instructions Have Been Sent</h1>
            <p>Please check your email</p>
      </div>
</div>
{% endblock %}

{% block styles %}
    <style>
        p {
            font-size: 25px;
            font-weight: 400;
            letter-spacing: 1px;
            text-transform: capitalize;
        }

        @media (max-width: 600px) {
            h1 {
                font-size: 30px;
                letter-spacing: 1px;
                font-weight: 400;
            }

            p {
                font-size: 20px;
                font-weight: 400;
                letter-spacing: 0px;
            }
        }
    </style>
{% endblock %}