{#{% extends "base.html" %}#}
{#{% block content %}#}
{#<div class='row'>#}
{#    <div class='col-md-4 col-10  mx-auto'>#}
{#    <h1>Reset your Password</h1>#}
{#        <form method='post' action=''>{% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <span style='margin-bottom: 12px;'></span>#}
{#        <button type="submit" class='btn btn-block btn-info'>Reset Password</button>#}
{#        </form>#}
{#      </div>#}
{#</div>#}
{#{% endblock %}#}

{% extends 'connect_therapy/base.html' %}
{% block content %}
    <!-- code for displaying success or error message in template -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        {% endif %}
    </ul>

    <!-- Form rendering code for template -->
    <form action="" method="post">

        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Submit" />
    </form>
{% endblock %}