{% extends "connect_therapy/base.html" %}
{% block title %}Book Appointments{% endblock %}
{% block header %}
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> {% endblock %}
{% block content %}
    <!-- Display messages -->
    {% if messages %}
        <div class="alert alert-warning">

            {% for message in messages %}
                <p>  {% if message.tags %} {{ message }} {% endif %} </p>
            {% endfor %}

        </div>
    {% endif %}

    <h1 class="jumbotron">You are booking an appointment with {{ object.user.get_full_name }} </h1>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Select date"/>
    </form>

    {% if appointments is not None and appointments|length > 0 %}
        <form action="{% url 'connect_therapy:book-appointment-review' pk=object.user.practitioner.id %}"
              method="post">
            {% csrf_token %}
            {% for app in appointments %}
                <p><input type="checkbox" name="app_id" value={{ app.id }}> {{ app }} </input> </p>
            {% endfor %}
            <input type="submit" class="btn btn-submit" value="Continue"/>
        </form>
    {% endif %}

    {# The below message will only show when the page is loaded without submitting a date #}
    {% if appointments is not None and appointments|length == 0 %}
        <h1>Sorry, please try another date</h1>
        <p>There are no appointments available for your chosen date</p>
    {% endif %}

{% endblock %}