{% extends 'connect_therapy/base.html' %}
{% block title %}Practitioner Notes{% endblock %}

{% block content %}
<div class="jumbotron">
    <h3>Practitioner Notes</h3>
    <hr class="my-4">
    <p class="lead" style="word-wrap: break-word">{{ appointment.practitioner_notes }}</p>
</div>

<div class="jumbotron">
    <h3>Notes Before Meeting </h3>
    <hr class="my-4">
    <p class="lead" style="word-wrap: break-word">{{ appointment.patient_notes_before_meeting }}</p>
</div>
    <br>
    <a href="{% url 'connect_therapy:practitioner-my-appointments'%}" class="btn btn-primary"> Go Back</a>
{% endblock %}


