{% extends 'connect_therapy/base.html' %}
{% block title %}Practitioner notes{% endblock %}

{% block content %}
<h3>View Notes</h3></br>
    {% for appointment in future_appointments %}
        <tr class="current">
            <td> {{ appointment.start_date_and_time }} </td>
            <td>Duration: {{ appointment.length }}</td>
            <td>Patient: {{ appointment.patient }}</td>
            <td><a href="">Cancel Appointment</a></td>
        </tr>
        {% empty %}
        <p> No upcoming appointments yet. </p>
    {%  endfor %}

    <h2>Previous Bookings</h2>
    {% for appointment in past_appointments %}
        <tr class="previous">
            <td> {{ appointment.start_date_and_time }} </td>
            <td>Duration: {{ appointment.length }}</td>
            <td>Patient: {{ appointment.patient }}</td>
            <td> <a href="">View Notes</a> </td>
        </tr>
        {% empty %}
        <p> No previous appointments. </p>
    {% endfor %}
{% endblock %}