{% extends 'connect_therapy/base.html' %}
{% block title %}Practitioner edit profile{% endblock %}

{% block header %}
    <header>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </header>
{% endblock %}

{% block content %}
    <h1>change password</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="submit" class="btn btn-primary"/>
</form>
{% endblock %}

{% block styles %}
    <style>
        .container-fluid {
            padding-top: 15px;
        }

        .btn {
            margin-top: 20px;
            text-transform: capitalize;
        }

        h1 {
            text-align: center;
            padding-bottom: 25px;
            text-transform: capitalize;
        }

        @media (max-width: 600px) {
            h1 {
                font-size: 30px;
            }
        }
    </style>
{% endblock %}

{% block scripts %}
    <script>
        document.getElementById('id_old_password').className = 'form-control';
        document.getElementById('id_new_password1').className = 'form-control';
        document.getElementById('id_new_password2').className = 'form-control';
    </script>
{% endblock %}