{% extends 'connect_therapy/base.html' %}
{% block title %}Practitioner appointments{% endblock %}

{% block content %}
    <h1>Your Appointments</h1></br>
    {% if future_appointments|length > 0 %}
        <h2>Current Bookings</h2>
        <table>
        <tr>
            <th>Date and time</th>
            <th>Duration</th>
            <th>Practitioner</th>
            <th>Actions</th>
        </tr>

        {% for appointment in future_appointments %}
            <tr class="current">
                <td> {{ appointment.start_date_and_time }} </td>
                <td> {{ appointment.length }} </td>
                <td> {{ appointment.practitioner }} </td>
                <td><a href=""> Cancel Appointment</a></td>
            </tr>
        {% endfor %}
    {% else %}
        <p> No upcoming appointments. </p>
    {% endif %}
</table>

    <h2>Previous Bookings</h2>
    {% if past_appointments|length > 0 %}
        <table>
        <tr>
            <th>Date and time</th>
            <th>Duration</th>
            <th>Practitioner</th>
            <th>Actions</th>
        </tr>
        {% for appointment in past_appointments %}
            <tr class="previous">
                <td> {{ appointment.start_date_and_time }} </td>
                <td> {{ appointment.length }}</td>
                <td> {{ appointment.patient }}</td>
                <td><a href="{% url 'connect_therapy:practitioner-cancel-appointment' appointment.id %}">View Notes</a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <p> No previous appointments. </p>
    {% endif %}
</table>
{% endblock %}
