{% extends 'connect_therapy/base.html' %}
{% block title %}Practitioner profile{% endblock %}

{% block content %}
    <p>User's Details</p>
    <p>first name: {{ user.first_name }}</p>
    <p>last name: {{ user.last_name }}</p>
    <p>email: {{ user.email }}</p>
    <p>mobile: {{ user.practitioner.mobile }}</p>
    <p>address line 1: {{ user.practitioner.address_line_1 }}</p>
    <p>address line 2: {{ user.practitioner.address_line_2 }}</p>
    <p>bio: {{ user.practitioner.bio }}</p>
    <a href="/practitioner/profile/edit" class="btn btn-primary">edit</a>
    <a href="/practitioner/profile/change-password" class="btn btn-warning">change password</a>
{% endblock %}