{% extends 'connect_therapy/base.html' %}
{% block title %}Your Patients{% endblock %}
{% load staticfiles %}
{% block content %}
    <label class="heading">patients:
    <input class="form-control mr-sm-2" id="searchField" type="search" placeholder="Search" aria-label="Search" onkeydown="searchFunction()">
    </label>
    <table id="patients" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Last Appointment</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.patient.user.first_name }}</td>
                <td>{{ appointment.patient.user.last_name }}</td>
                <td><a href="{% url 'connect_therapy:practitioner-view-notes' appointment.id %}">
                    {{ appointment.start_date_and_time }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block styles %}
    <style>
        label.heading {
            font-size: 40px;
            text-transform: capitalize;
            font-weight: 500;
            letter-spacing: 2px;
            padding-top: 10px;
        }

        #searchField {
            vertical-align: middle;
            height: 45px;
        }
    </style>
{% endblock %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css"/>
    <script type="text/javascript" src="{% static 'connect_therapy/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#patients').dataTable({
                "searching": false,
                "paging": false,
                "bInfo": false
            })
        });
    </script>
    <script>
 function searchFunction() {
          var input, filter, table, tr, colOne, colTwo, colThree, i;
          input = document.getElementById("searchField");
          filter = input.value.toUpperCase();
          table = document.getElementById("patients");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            colOne = tr[i].getElementsByTagName("td")[0];
            colTwo = tr[i].getElementsByTagName('td')[1];
            colThree = tr[i].getElementsByTagName('td')[2];
            if (colOne) {
              if (colOne.innerHTML.toUpperCase().indexOf(filter) > -1 || colTwo.innerHTML.toUpperCase().indexOf(filter) > -1 || colThree.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
    </script>
{% endblock %}

