{% extends 'connect_therapy/base.html' %}
{% block title %}Your Patients{% endblock %}
{% block header %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

{% endblock %}

{% block content %}
    <h1>patients:</h1>
    <table id="patients" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Last Appointment</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.patient.user.first_name }}</td>
                <td>{{ appointment.patient.user.last_name }}</td>
                <td><a href="{% url 'connect_therapy:practitioner-appointment-notes' pk=appointment.id %}">
                    {{ appointment.start_date_and_time }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
{#    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>#}
{#    <script>#}
{#        $(document).ready(function(){#}
{#        $('#patients').DataTable();#}
{#        });#}
{#    </script>#}
{% endblock %}


{#<html>#}
{#<head>#}
{#    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
{#    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>#}
{#    <script>#}
{#        $(document).ready(function(){#}
{#        $('#patients').DataTable();#}
{#        });#}
{#    </script>#}
{#</head>#}
{#<body>#}
{#<h1>patients:</h1>#}
{#    <table id="patients" class="table table-bordered table-hover">#}
{#        <thead>#}
{#            <tr>#}
{#                <th>First name</th>#}
{#                <th>Last name</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#            {% for appointment in appointments %}#}
{#            <tr>#}
{#                <td>{{ appointment.patient.user.first_name }}</td>#}
{#                <td>{{ appointment.patient.user.last_name }}</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}
{#</body>#}
{#</html>#}