{% extends 'connect_therapy/emails/html/base.html' %}
{% block body %}
    <p>Thanks for signing up with Connect Therapy, just a quick thing before you get started.</p>
    <p>Just so you know, you won't be able to use the service until you've been approved.</p>
    <p>We'll send you an email to let you know when you're approved.</p>

    <p>Please confirm your email address here:</p>
    <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
        <tr>
            <td align="left">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td> <a href="http://{{ domain }}{% url 'connect_therapy:activate' uidb64=uid token=token %}" target="_blank">Confirm Email</a> </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

    <p>If that link didn't work, try copying this into your browser: <a href="{{ link }}">{{ link }}</a></p>

    <p>If you were not expecting this email, feel free to disregard it.</p>
{% endblock %}
